.navbar {
    background-color: rgb(141, 158, 106);
}
.text_link {
    position: relative;
    color: rgb(9, 61, 9);
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    cursor: pointer;
	line-height: 1;
	text-decoration: none;
}