.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  main {
    font-family: 'Forum', cursive;
    font-family: 'Roboto Slab', serif;
  }

  .carousel {
    margin-bottom: 4rem;
    max-width: 1300px;
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .text_car {
    background-color: #5a5a5a79;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
  }
  
  input {
    display: inline-block;
    width: 300px;
    height: 40px;
    margin: 20px;
    border-radius:15px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  
  input:hover {
    border: 1px solid #aaa;
  }
  
  .btn {
    display: inline-block;	
    box-sizing: border-box;
    outline: none;
    border: none;    
    border-radius: 15px;
    width: 200px;
    height: 50px;
    line-height: 37px;
    font-size: 14px; 
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    background-color: rgb(141, 158, 106);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
  }
  .btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
  }
  .btn:hover {
    box-shadow: 0 7px 7px 0  #999797, 0 2px 5px 0  #c7c2c2;
  }

  .list_product {
    margin-top: -50px;
  }

  table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0
    }
    table, td, th{
    border: 1px solid #595959;
    }
    td, th{
    padding: 3px;
    width: 30px;
    height: 25px;
    }
    th{
    background-color: #7accee!important;
    }